@{
    Layout = "_Layout"; // If you have a layout file
    ViewBag.Title = "Load Saved Games";
}

<h2>Load Saved Games</h2>

<div id="saved-games-container">
    <!-- Saved games will be dynamically loaded here -->
</div>

@section Scripts {
    <script src="~/path/to/your/javascriptfile.js"></script>
    
}
