@using Milestone_Project; // Add this line at the top

@model Cell[,]

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Play Minesweeper</title>
    <link rel="stylesheet" type="text/css" href="~/css/site.css">
</head>
<body>

    <div class="game-board">
        @for (int row = 0; row < Model.GetLength(0); row++)
        {
            <div class="row">
                @for (int col = 0; col < Model.GetLength(1); col++)
                {
                    var cell = Model[row, col];
                    <form method="post" action="/Game/CellClicked" style="display: inline;">
                        <input type="hidden" name="row" value="@row" />
                        <input type="hidden" name="col" value="@col" />
                        <button type="submit" class="game-button">
                            @if (cell.IsRevealed)
                            {
                                if (cell.IsMine)
                                {
                                    <span class="bomb"></span>
                                }
                                else
                                {
                                    @if (cell.Visited)
                                    {
                                        <span>@cell.LiveNeighbors</span>
                                    }
                                }
                            }
                        </button>
                    </form>
                }
            </div>
        }
    </div>

</body>
</html>
