@using Milestone_Project; // Add this line at the top

@model Cell[,]

@{
    Layout = null;
    var cells = Model.Cast<Cell>().ToArray(); // Convert the 2D array to a 1D array of cells
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Play Minesweeper</title>
    <link rel="stylesheet" type="text/css" href="~/css/site.css">
</head>
<body>

    <div class="game-board">
        @foreach (var cell in cells)
        {
            <form method="post" action="/Game/CellClicked" style="display: inline;">
                <input type="hidden" name="row" value="@cell.Row" />
                <input type="hidden" name="col" value="@cell.Column" />
                <button type="submit" class="game-button">
                    @if (cell.IsRevealed)
                    {
                        if (cell.IsMine)
                        {
                            <span class="bomb"></span>
                        }
                        else
                        {
                            @cell.Neighbors
                        }
                    }
                </button>
            </form>
        }
    </div>

</body>
</html>

